@import '_variables.scss';

.collapse-container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  &__section {
    margin-bottom: 20px;
  }
}

.collapse-title {
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  & h3 {
    @include collapseAboutTitle;
  }
}

.collapse-text {
  @include collapseDescription;
  padding: 15px;
  background-color: $light-background-color;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, display 0.5s ease;
  display: none;
  &.open {
    padding: 15px;
    max-height: 1000px;
    display: flex;
    flex-direction: column;
  }
}

#lodging-collapse {
  margin: 0 20px 27px 20px;
}

@media screen and (min-width: 1024px) {
  .collapse-container {
    margin: 38px 200px;
    &__section {
      margin-bottom: 30px;
      width: 100%;
    }
  }
  .collapse-title {
    height: 52px;
    padding: 15px;
  }
  #lodging-collapse {
    margin: 24px 90px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .collapse-text {
    height: auto;
  }
}
