@import '_variables.scss';

.collapse-container {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  &__section {
    margin-bottom: 20px;
  }
}

.collapse-title {
  background-color: $primary-color;
  color: $secondary-color;
  border-radius: 5px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  & h3 {
    @include collapseAboutTitle;
  }
}

.collapse-text {
  @include collapseDescription;
  margin: 10px;
}

.lodging-collapse {
  margin: 0 20px 27px 20px;
}
