@import '_variables.scss';

.footer-container {
  background-color: $dark-background-color;
  color: $secondary-color;
  // position: absolute;
  width: 100%;
  height: 209px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include header-footer;
  & img {
    width: 122px;
  }
  &__text {
    text-align: center;
    padding: 15px;
    width: 133.594px;
  }
}

@media screen and (min-width: 1024px) {
  .footer-container {
    &__text {
      text-align: center;
      padding-top: 30px;
      width: 100%;
    }
  }
}
