@import '_variables.scss';

.rate-container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.full-star {
  color: $primary-color;
}

.empty-star {
  color: #e3e3e3;
}

@media screen and (min-width: 1024px) {
}
