@import '_variables.scss';

.tag-container {
  margin: 10px 20px;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  flex-wrap: wrap;
}

.tag-name {
  @include tags;
  color: $secondary-color;
  background-color: $primary-color;
  border-radius: 10px;
  padding: 3px 20px;
}

@media screen and (min-width: 1024px) {
  .tag-container {
    margin: 20px 90px;
  }
  .tag-name {
    padding: 3px 40px;
  }
}
