// VARIABLES
$primary-color: #ff6060;
$secondary-color: #ffffff;
$light-background-color: #f6f6f6;
$dark-background-color: #000000;

// MIXINS

@mixin header-footer {
  font-size: 0.75rem;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
    text-transform: none;
  }
}

@mixin banner {
  font-size: 1.5rem;
  font-weight: 700;
  color: $secondary-color;

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

@mixin cardsTitle {
  font-size: 1.125rem;
  font-weight: 700;
  color: $secondary-color;
}

@mixin errorNbr {
  font-size: 6rem;
  font-weight: 700;
  color: $primary-color;

  @media (min-width: 1024px) {
    font-size: 18rem;
  }
}

@mixin errorText {
  font-size: 1.125rem;
  font-weight: 500;
  color: $primary-color;

  @media (min-width: 1024px) {
    font-size: 2.25rem;
  }
}

@mixin errorLink {
  font-size: 0.875rem;
  font-weight: 500;
  color: inherit;

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

@mixin collapseAboutTitle {
  font-size: 0.813rem;
  font-weight: 700;

  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}

@mixin collapseDescription {
  font-size: 0.75rem;
  font-weight: 400;

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

@mixin lodgingTitle {
  font-size: 1.125rem;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 12.25rem;
  }
}

@mixin lodgingLocation {
  font-size: 0.875rem;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

@mixin tags {
  font-size: 0.813rem;
  font-weight: 700;

  @media (min-width: 1024px) {
    font-size: 0.875rem;
  }
}

@mixin hostName {
  font-size: 0.75rem;
  font-weight: 500;

  @media (min-width: 1024px) {
    font-size: 1.125rem;
  }
}

@mixin hostPicture {
  width: 32px;
  height: 32px;
  @media (min-width: 1024px) {
    width: 64px;
    height: 64px;
  }
}
